.cart {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.cart-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}

.btn-1 {
    width: 100px;
    border-radius: 10px;
    margin-left: 20px;
    background-color:
        rgba(255, 48, 48, 1);
}

.btn-2 {
    width: 100px;
    border-radius: 10px;
    margin-left: 20px;
    background-color:
        rgba(255, 48, 48, 1);
    padding: 5px;
    margin-top: 10px;

}





@media screen and (max-width:1200px) {
    .cart-details {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:480px) {
    .cart-details {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width:480px) {
    .cart-section {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }
}